<%
    const _t = params._t;
    const activeLanguage = params.activeLanguage;
%>

<html>
    <head>
        <title>Aste Nagusia</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=bOMO6QWwnr">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=bOMO6QWwnr">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=bOMO6QWwnr">
        <link rel="manifest" href="/site.webmanifest?v=bOMO6QWwnr">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=bOMO6QWwnr" color="#8f1919">
        <link rel="shortcut icon" href="/favicon.ico?v=bOMO6QWwnr">
        <meta name="msapplication-TileColor" content="#8f1919">
        <meta name="theme-color" content="#8f1919">
        <meta name="google" content="notranslate">
        <style id="dynamic-style"></style>
    </head>
    <body>
        <div class="container">
            <div class="title-wrapper">
                <div class="title">
                    <h1>Aste Nagusia</h1>
                    <button class="title-filter" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 402.577 402.577" style="enable-background:new 0 0 402.577 402.577;" xml:space="preserve">
                            <g>
                                <path d="M400.858,11.427c-3.241-7.421-8.85-11.132-16.854-11.136H18.564c-7.993,0-13.61,3.715-16.846,11.136   c-3.234,7.801-1.903,14.467,3.999,19.985l140.757,140.753v138.755c0,4.955,1.809,9.232,5.424,12.854l73.085,73.083   c3.429,3.614,7.71,5.428,12.851,5.428c2.282,0,4.66-0.479,7.135-1.43c7.426-3.238,11.14-8.851,11.14-16.845V172.166L396.861,31.413   C402.765,25.895,404.093,19.231,400.858,11.427z" fill="#FFFFFF"/>
                            </g>
                        </svg>     
                        <span class="title-filter-off"><%= _t['FILTER_BY_LOCATION'] %></span>
                        <span class="title-filter-on"><%= _t['REMOVE_FILTER'] %></span>
                    </button>
                </div>
            </div>

            <div id="up" class="title-spacer"></div>

            <div class="i18n">
                <a href="/" class="i18n-option <%= activeLanguage === 'eu' ? 'is-active' : '' %>">Euskara</a>
                <span class="i18n-sep">-</span>
                <a href="/es" class="i18n-option <%= activeLanguage === 'es' ? 'is-active' : '' %>">Español</a>
                <span class="i18n-sep">-</span>
                <a href="/en" class="i18n-option <%= activeLanguage === 'en' ? 'is-active' : '' %>">English</span>
            </div>

            <div class="days">
                <% data.index.home(activeLanguage).days.forEach((day) => { %>
                    <a data-locations="__<%= day.locations.join('__') %>__" class="day" href="#day_<%= day.number %>">
                        <span><%= day.number %></span>
                    </a>
                <% }) %>
            </div>

            <% data.index.home(activeLanguage).days.forEach((day) => { %>
                <dl style="margin-top: 15px;" data-locations="__<%= day.locations.join('__') %>__">
                    <dt id="day_<%= day.number %>" class="day-title">
                        <span><%= _t[day.day_id].replace('{}', day.number) %></span>
                        <a href="#up" type="button" class="day-title-goup">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve" width="512px" height="512px">
                                <g>
                                    <g>
                                        <polygon points="128,48.907 0,176.907 30.187,207.093 128,109.28 225.813,207.093 256,176.907   " fill="#FFFFFF"/>
                                    </g>
                                </g>
                            </svg>
                            <span><%= _t['GO_UP'] %></span>        
                        </a>
                    </dt>

                    <div class="hours">
                        <% day.hours.forEach((hour) => { %>
                            <a data-locations="__<%= hour.locations.join('__') %>__" class="hour-button" href="#day_<%= day.number %>_hour_<%= hour.text.replace(':', '_') %>"><%= hour.text %></a>
                        <% }) %>
                    </div>

                    <% day.hours.forEach((hour) => { %>

                        <dl data-locations="__<%= hour.locations.join('__') %>__" style="margin: 0;">
                            <dt id="day_<%= day.number %>_hour_<%= hour.text.replace(':', '_') %>" class="hour">
                                <div class="hour-line"></div>
                                <span><%= hour.text %></span>
                                <div class="hour-line"></div>
                            </dt>
                            <% hour.events.forEach((event) => { %>
                                <dd class="event" data-location="<%= event.location.slug %>">
                                    <% if (event.badges) { %>
                                        <div class="event-badges">
                                            <% event.badges.forEach((badge) => { %>
                                                <span><%= badge %></span>
                                            <% }) %>
                                        </div>
                                    <% } %>
                                    <div class="event-info">
                                        <span class="event-name"><%= event.name %></span>
                                        <span class="event-location"><%= event.location.name %></span>
                                    </div>
                                </dd>
                            <% }) %>
                        </dl>

                    <% }) %>

                </dl>

            <% }) %>

            <footer class="footer">

                <p>
                    <%- _t['FOOTER_DESCRIPTION'] %>
                </p>

                <p>
                    <%- _t['FOOTER_HOSTING'] %>
                    <%- _t['FOOTER_TRACKING'] %>
                </p>

                <p>
                    <%- _t['FOOTER_JAVASCRIPT'] %>
                </p>

                <p>
                    <%- _t['FOOTER_DATA_ORIGINS'] %>
                    <a target="_blank" href="http://www.bifmradio.com/musica/aste-nagusia-conciertos-2018/">BI FM</a>,
                    <a target="_blank" href="https://www.eitb.eus/es/pueblos-ciudades/detalle/5768155/programa-bilboko-konpartsak-aste-nagusia-2018-programacion-comparsas/">EiTB</a>,
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.konpartsak.astenagusia">Bilboko Konpartsak App</a>.
                </p>

                <p>
                    <%- _t['FOOTER_CREDITS'] %>
                    <%- _t['FOOTER_SOURCE_CODE'] %>
                </p>

                <p class="footer-madewithlove">
                    Made with ❤️ in <b>Bilbao</b>
                </p>
            </footer>
        </div>      

        <div class="location-popup">
            <div class="location-popup-header">
                <span><%= _t['SELECT_A_LOCATION'] %></span>
            </div>
            <div class="location-popup-list">
                <button onclick="onFilterOptionClick(null)" class="location-popup-button" type="button">(<%= _t['NO_FILTER'] %>)</button>
                <% data.index.home(activeLanguage).locations.forEach((location) => { %>
                    <button onclick="onFilterOptionClick('<%= location.name %>', '<%= location.slug %>')" class="location-popup-button" type="button"><%= location.name %></button>
                <% }) %>
            </div>
        </div>

        <script type="text/javascript" src="main.js"></script>
    </body>
</html>
