<%
    const _t = params._t;
    const activeLanguage = params.activeLanguage;
%>

<html>
    <head>
        <title>Aste Nagusia <%= data.index.home(activeLanguage).year %></title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=bOMO6QWwnr">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=bOMO6QWwnr">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=bOMO6QWwnr">
        <link rel="manifest" href="/site.webmanifest?v=bOMO6QWwnr">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=bOMO6QWwnr" color="#8f1919">
        <link rel="shortcut icon" href="/favicon.ico?v=bOMO6QWwnr">
        <meta name="msapplication-TileColor" content="#8f1919">
        <meta name="theme-color" content="#8f1919">
        <meta name="google" content="notranslate">
        <style id="dynamic-style"></style>
    </head>
    <body>
        <div class="container">
            <div class="title-wrapper">
                <div class="title">
                    <h1>Aste Nagusia</h1>
                </div>
            </div>

            <div id="up" class="title-spacer"></div>

            <div class="i18n">
                <a href="/" class="i18n-option <%= activeLanguage === 'eu' ? 'is-active' : '' %>">Euskara</a>
                <span class="i18n-sep">-</span>
                <a href="/es" class="i18n-option <%= activeLanguage === 'es' ? 'is-active' : '' %>">Español</a>
                <span class="i18n-sep">-</span>
                <a href="/en" class="i18n-option <%= activeLanguage === 'en' ? 'is-active' : '' %>">English</a>
            </div>

            <div class="days">
            </div>

            <footer class="footer">
                <p><%- _t['SORRY_1'] %></p>
                <ul>
                    <li><a href="https://app.bilbokokonpartsak.eus/">Bilboko Konpartsak</a></li>
                    <li><a href="https://www.bilbao.eus/cs/Satellite?c=&cid=1279228897093&language=eu&pagename=Bilbaonet%2FPage%2FBIO_contenidoFinal">Bilbao Aste Nagusia 2023</a></li>
                </ul>
                <p><%- _t['SORRY_2'] %></p>
            </footer>
        </div>

        <script type="text/javascript" src="/main.js"></script>
    </body>
</html>
