<html>
    <head>
        <title>Bilboko Konpartsak</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="bulma.min.css">
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="main.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="title">Bilboko Konpartsak</h1>

            <div class="days">
                <% Object.keys(data.events).forEach((day) => { var dayNumber = data.events[day].day; %>
                    <a class="day" href="#day_<%= dayNumber %>"><%= dayNumber %></a>
                <% }) %>
            </div>

            <% Object.keys(data.events).forEach((day) => { var events = data.events[day].events; var dayNumber = data.events[day].day; %>
                <dl>
                    <dt id="day_<%= dayNumber %>" class="day-title"><%= day %></dt>

                    <div class="hours">
                        <% Object.keys(events).forEach((hour) => { %>
                            <a class="hour-button" href="#day_<%= dayNumber %>_hour_<%= hour.replace(':', '_') %>"><%= hour %></a>
                        <% }) %>
                    </div>

                    <% Object.keys(events).forEach((hour) => { var hourEvents = events[hour]; %>

                        <dl style="margin: 0;">
                            <dt id="day_<%= dayNumber %>_hour_<%= hour.replace(':', '_') %>" class="hour"><%= hour %></dt>
                            <% hourEvents.forEach((event) => { %>
                                <dd class="event">
                                    <span class="event-location"><%= event.location %></span>
                                    <span class="event-name"><%= event.name %></span>
                                </dd>
                            <% }) %>
                        </dl>

                    <% }) %>

                </dl>

            <% }) %>
        </div>
    </body>
</html>
