<html>
    <head>
        <title>Aste Nagusi</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="bulma.min.css">
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="main.js"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b33939">
        <meta name="msapplication-TileColor" content="#b33939">
        <meta name="theme-color" content="#b33939">
    </head>
    <body>
        <div class="container">
            <h1 class="title">Aste Nagusi</h1>

            <div class="days">
                <% data.index.home.days.forEach((day) => { %>
                    <a class="day" href="#day_<%= day.number %>"><%= day.number %></a>
                <% }) %>
            </div>

            <% data.index.home.days.forEach((day) => { %>
                <dl>
                    <dt id="day_<%= day.number %>" class="day-title">
                        <%= day.number %>
                    </dt>

                    <div class="hours">
                        <% day.hours.forEach((hour) => { %>
                            <a class="hour-button" href="#day_<%= day.number %>_hour_<%= hour.text.replace(':', '_') %>"><%= hour.text %></a>
                        <% }) %>
                    </div>

                    <% day.hours.forEach((hour) => { %>

                        <dl style="margin: 0;">
                            <dt id="day_<%= day.number %>_hour_<%= hour.text.replace(':', '_') %>" class="hour"><%= hour.text %></dt>
                            <% hour.events.forEach((event) => { %>
                                <dd class="event">
                                    <span class="event-location"><%= event.location %></span>
                                    <span class="event-name"><%= event.name %></span>
                                </dd>
                            <% }) %>
                        </dl>

                    <% }) %>

                </dl>

            <% }) %>

            <footer class="footer">
                <div>Orígenes de datos: <a target="_blank" href="http://www.bifmradio.com/musica/aste-nagusia-conciertos-2018/">BI FM</a>, <a target="_blank" href="https://www.eitb.eus/es/pueblos-ciudades/detalle/5768155/programa-bilboko-konpartsak-aste-nagusia-2018-programacion-comparsas/">EiTB</a>.</div>
                <div>
                    <a href="https://twitter.com/Sirikon">@Sirikon</a> - 2018
                </div>
            </footer>
        </div>
    </body>
</html>
